<div class="row">
  <h1 class="col-sm-1"><fa-icon [icon]="faTree"></fa-icon></h1>
  <h1 class="col-sm-3">The Elder Treetop</h1>
  <h1 class="col-sm-8"><fa-icon [icon]="faTree"></fa-icon></h1>
</div>
<hr />
<div class="row">
  <p>A place for angular learning. <fa-icon [icon]="faCoffee"></fa-icon></p>
</div>
<app-body></app-body>

<h2>Lazy Links</h2>
<ul>
  <li><a routerLink="admin/lazy">Lazy</a></li>
</ul>

<router-outlet></router-outlet>

<hr />

<app-table></app-table>

<p>Can this be kept after taking on main also? AGAIN!</p>
